@model HomeDetailsViewModel;

<h1>@Model.PageTitle</h1>
@{
    ViewBag.Title = "Employee Details";
    var photoPath = "~/images/" + (Model.Employee.PhotoPath ?? "proj_img.jpg");
}
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <h1> @Model.Employee.Name</h1>
        </div>
        <div class="card-body text-center">
            <img class="card-img-top" src="@photoPath" asp-append-version="true"/>
            <h4>Employee ID : @Model.Employee.Id</h4>
            <h4>Email : @Model.Employee.Email</h4>
            <h4>Department : @Model.Employee.Department</h4>
        </div>
        <div class="card-footer text-center">
            <a href="#" class="btn btn-primary">Back</a>
            <a href="#" class="btn btn-success">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>

  
        @* <h1>@ViewData["PageTitle"]</h1>
        @* <h1>@ViewBag.PageTitle</h1> *@

        @{
            // var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
            
        }
      @*   <div>
            Name: @employee.Name
        </div>
        <div>
            Name: @employee.Email
        </div>
        <div>
            Name: @employee.Department
        </div> *@
     @*    <div>
            Name: @ViewBag.Employee.Name
        </div>
        <div>
        Email: @ViewBag.Employee.Email
        </div>
        <div>
        Department: @ViewBag.Employee.Department
        </div> *@
